.footer{
    font-family: 'Poppins', sans-serif;
    background-color: #0575E6;
    background: linear-gradient(100deg, #2646C0, #0575E6);
    background: -webkit-linear-gradient(100deg, #2646C0, #0575E6);
    padding: 60px 65px;
    color: #FFF;
}

.footerContainer{
    display: flex;
    align-items: center;
}

.footerLogo{
    text-align: center;
    border-right: solid 1px rgba(245, 245, 245, 0.3);
    padding-right: 75px;
}

.footerLogoImg{
    width: 65px;
}

.footerLogoTitle{
    margin: 15px 0;
    font-weight: 700;
}

.footerLogoSM{
    display: flex;
    align-items: center;
}

.iconSM{
    color: #FFF;
    margin-right: 15px;
    transition: all 300ms ease;
}

.iconSM:nth-child(6n){
    margin-right: 0;
}

.iconSM:hover{
    transform: translateY(-3px);
}

.iconFooter{
    font-size: 16px;
}

.footerSections{
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.footerSection{
    display: flex;
    flex-direction: column;
}

.footerTitle{
    font-weight: 700;
    margin-bottom: 7px;
}

.footerPage{
    color: rgba(245, 245, 245, 0.7);
    margin-top: 5px;
    cursor: pointer;
    text-decoration: none;
    transition: all 300ms ease;
}

.footerPage:hover{
    color: #FFF;
}

.footerCopyRight{
    font-weight: 400;
    text-align: center;
    margin-top: 60px;
}
/* ____________________ */
/* ____________________ */
/* -------------------- */
/*      Responsive      */
/* -------------------- */
/* ____________________ */
/* ____________________ */
@media (max-width: 1200px) {
    .footerLogo{
        padding-right: 15px;
    }
}
@media (max-width: 900px) {
    .footer{
        padding: 60px 35px;
    }
}
@media (max-width: 860px) {
    .footerCopyRight{
        margin-top: 30px;
    }
}
@media (max-width: 800px) {
    .footerLogo{
        border-right: 0;
        padding-right: 0;
        margin: auto;
    }
    .footerSections{
        max-width: 380px;
        flex-wrap: wrap;
        margin: auto;
        justify-content: space-around;
    }
    .footerSection{
        width: 180px;
        margin-bottom: 30px;
    }
    .footerCopyRight{
        margin-top: 0;
    }
}
@media (max-width: 700px) {
    .footer{
        padding: 60px 25px;
    }
    .footerContainer{
        display: block;
    }
    .footerLogo{
        margin-bottom: 35px;
    }
    .footerLogoSM{
        width: 100%;
        justify-content: center;
    }
    .footerSections{
        max-width: 535px;
    }
}
@media (max-width: 410px) {
    .footerSections{
        max-width: 100%;
        justify-content: start;
    }
}
@media (max-width: 270px) {
    .footer{
        padding: 30px 10px;
    }
}
/*230 es el limite soportado*/